.user_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbff00;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
}

.header > p {
  margin: 0;
  padding: 2px;
}

.header > h1 {
  margin: 0;
  padding: 2px;
}

.datetime {
  padding-right: 90px;
}

.storyboard_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}